@font-face {
  font-family: 'Mason-Chronicles';
  src: url('Mason-Chronicles.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MasonChronicles';
  src: url('MasonChronicles.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

